services:
  frontend:
    build:
      context: ..
      dockerfile: deployment/Dockerfile.frontend
    restart: unless-stopped
    depends_on:
      - backend
    env_file:
      - .env
    environment:
      - PORT=3011
    expose:
      - "3011"

  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PORT=3001
      - NODE_ENV=production
    expose:
      - "3001"
    volumes:
      - /mnt/storage-wunder/db:/app/db_data
      - /mnt/storage-wunder/media:/app/media
      - /mnt/storage-wunder/ipfs:/app/ipfs

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /mnt/storage-wunder/logs/nginx:/var/log/nginx
      - /app/ssl/origin.crt:/etc/ssl/origin.crt:ro
      - /app/ssl/origin.key:/etc/ssl/origin.key:ro
